<h1><%= @kitten[:name]%></h1>

<ul>
  <li><%= @kitten[:name] %></li>
  <li><%= @kitten[:age] %></li>
  <li><%= @kitten[:sex] %></li>
  <li><%= @kitten[:vaccinated] %></li>
  <li><%= image_tag @kitten[:image], :width => "400px" %></li>
</ul>
